.traffic-light {
  display: flex;
  flex-direction: column;
  border: 2px solid red;
  align-items: center;
  justify-content: space-around;
  height: 150px;
  width: 50px;
}

.horizontal {
  flex-direction: row;
  height: 50px;
  width: 150px;
}

.vertical {
  flex-direction: column;
}

.traffic-light div {
  width: 30px;
  height: 30px;
  margin: 2px;
  border-radius: 50%;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

/* 

,_     _
|\\_,-~/
/ _  _ |    ,--.
(  @  @ )   / ,-'
\  _T_/-._( (
/         `. \
|         _  \ |
\ \ ,  /      |
 || |-_\__   /
((_/`(____,- 

*/
