<!-- 
       ,
       \`-._           __
        \\  `-..____,.'  `.
         :`.         /    \`.
         :  )       :      : \
          ;'        '   ;  |  :
          )..      .. .:.`.;  :
         /::...  .:::...   ` ;
         ; _ '    __        /:\
         `:o>   /\o_>      ;:. `.
        `-`.__ ;   __..--- /:.   \
        === \_/   ;=====_.':.     ;
         ,/'`--'...`--....        ;
              ;                    ;
            .'                      ;
          .'                        ;
        .'     ..     ,      .       ;
       :       ::..  /      ;::.     |
      /      `.;::.  |       ;:..    ;
     :         |:.   :       ;:.    ;
     :         ::     ;:..   |.    ;
      :       :;      :::....|     |
      /\     ,/ \      ;:::::;     ;
    .:. \:..|    :     ; '.--|     ;
   ::.  :''  `-.,,;     ;'   ;     ;
.-'. _.'\      / `;      \,__:      \
`---'    `----'   ;      /    \,.,,,/
                   `----`              

 -->

<div class="intersection">
  <app-traffic-light
    [status]="lightStatus1"
    position="horizontal"
    class="horizontal"
  ></app-traffic-light>

  <app-traffic-light
    [status]="lightStatus2"
    position="vertical"
    class="vertical"
  ></app-traffic-light>

  <app-traffic-light
    [status]="lightStatus3"
    position="horizontal"
    class="horizontal"
  ></app-traffic-light>

  <app-traffic-light
    [status]="lightStatus4"
    position="vertical"
    class="vertical"
  ></app-traffic-light>
</div>

<button (click)="triggerEmergency()">Авария</button>
